/* Common styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
 img {
    display: block;
}
a {
    text-decoration: none;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.button {
    cursor: pointer;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* /Common styles */
                     
/* Page Header styles */

.page-header {
color: #ffffff;
border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-header {
    margin-right: 76px;
}

.logo-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.menu {
    display: flex;
    gap: 40px;
}                       

.menu-item-link {font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
position: relative;
color: #404bbf;
}

.current::after {
position: absolute;
content: "";
left: 0;
bottom: -1px;
background-color: #404bbf;
border-radius: 2px;
height: 4px;
width: 100%;
}

.menu-item-link.active {
    color: #404bbf;
}

.menu-item-link:hover,
.menu-item-link:focus {
    color: #404bbf;
}

.contact-block  {
font-style: normal;
margin-left: auto;  
}  

.contact-list {
    display: flex;
    gap: 40px;
}
.contact-data {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: 259ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-data:hover,
.contact-data:focus {
    color: #404BBF;
}


/* /Page Header styles */

/* Hero Section style */

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("/images/hero/hero-bg.jpg");
    background-size: cover;
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 24px;
}



.order-serv-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.order-serv-btn:hover,
.order-serv-btn:focus {
    background-color: #404BBF;
}

/* /Hero Section style */

/* Our Banefits Section style*/

.banefits-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* .banefits-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
 } */

.banefits-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.banefits-list-icon {
display: flex;
border: 1px solid #8e8f99;
border-radius: 4px;
height: 112px;
align-items: center;
justify-content: center;
margin-bottom: 8px;
background-color: #f4f4fd;
}

.banefits-item {
    flex-basis: calc((100% - 3 * 24px) / 4)
}
.banefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.banefits-subtitle-discription {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* /Our Banefits Section style*/


/* Team Members Section style*/
.team-members-section {
    background-color: #f4f4fd;
}

.team-members-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.team-members-list {
    display: flex;
    gap: 24px;
    padding-right: auto;  
}

.team-members-div-card {
    padding: 32px 0;

}
.team-members-portrait-item {
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
     width: calc((100%-72px) / 4);
    border-radius: 0 0 4px 4px;
}

.team-members-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.work-direction {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* /Team Members Section style */

/* Team Portfolio Section style */
.team-portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap:wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    background-color: #ffffff;
    width: calc((100% - 48px) / 3);
}

.portfolio-div-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.released-product {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: start;
}

.product-direction {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: start;
}
/* /Team Portfolio Section style */

/* Page Footer style */
.ending-section {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-part-ending {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}


/* /Page Footer style */
